@import url(https://fonts.googleapis.com/css2?family=Audiowide&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: Audiowide, Arial;
}

body {
    background-color: rgb(230, 230, 230);
}

section,
footer {
    padding: 54px 0;

}

.banner-logo {
    width: 200px;
}

h3 {
    font-size: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    background-color: aqua;
    color: rgb(0, 56, 105);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: antiquewhite;
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul a {
    color: aliceblue;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1 {
    font-size: 96px;
    color: azure;
}

.banner .banner-text p {
    font: 20px;
    color: aliceblue;
    font-weight: arial;
    margin: 18px 0;
}

.container2 {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.section-text {
    font-size: 18px;
    color: #666;
}

/* Estilos adicionais para outras seções... */

#per{
    align-items: center;
    background-color: #666;
}

.container3 {
    display: flex;
}

.text {
    width: 50%;
    padding: 20px;
}

.text h2{
    padding: 20px;
    color: #011147;
}

.text p{
    padding: 20px;
}

.image {
    width: 20%;
}

.image img {
    width: 300px;
    height: auto;
    padding: 0px 50px;
}

 footer {
     background-color: #011147;
     color: white;
     padding: 30px;
     box-sizing: border-box;
     text-align: center;
 }