* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #ffffff;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #000822;
}

.logo {
    display: flex;
    width: 250px;
}

.menu {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 400;
    font-size: 20px;

}

ul li a {
    color: #ffffff;
}

 img{
    width: 100%;
    
 }

 
.textos{
    color:#000822;
    padding: 30px 30px;
    justify-content:end;
    text-align: center;
 }

 .jogo h2{
    position: absolute;
    text-align: center;
    color: #ffffff;
    text-align: center;
 }

 .logo1{
    width: 150%;
 }

#prints{
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grid {
    /*Aplicar na grid*/
    display: grid;
    /*Configurando uma coluna*/
    grid-template-columns: 50% 50%;
}

.grid .coluna img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 7px #5a5a5a;
    
}

.grid .coluna, #prints  {
    /*Alinhar ao centro*/
    text-align: center;
}

.centro h2{
    font-size: 50px;
}

footer {
    background-color: #011147;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.contato {
    background-color: #000822;
    /* Fundo preto */
    padding: 100px 400px;
    /* Espaçamento interno */
    color: white;
    height: 50vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    transition: transform 0.5s ease;
}

.logo img:hover {
    transform: translateY(-10px);
}

.texto-botao {
    margin-left: 180px;
    /* Margem à esquerda */
    font-size: 30px;
}

.texto-botao p {
    margin: 200;
    /* Remove margem padrão do parágrafo */
    margin-right: 50px;
}

button {
    background-color: rgb(7, 6, 112);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transição de cor */
    border-radius: 10px;
}

button:hover {
    background-color: rgb(4, 39, 190);
    /* Mudança de cor ao passar o mouse */
}

button a {
    color: #ffffff;
}